.main-buttone{
  background-color: rgba($redcolor,.5);
  color: #FFFFFF;
  border: none;
  padding: 5px 10px;
  text-align: center;
  min-width: 120px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  &:hover{
    background-color: $redcolor;
  }
}
.btn-togeller{
  outline: none;
  background-color: $redcolor;
  padding: 8px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 20px;
  top: 30px;
  left: 600px;
  display: none;
  &:hover{
  background-color: dimgrey;
}
  &:focus{
    background-color: dimgrey;
  }
  @media #{$maxMobile} {
    display: block;
  }
  span{
    display: block;
    width: 50px;
    height: 4px;
    background-color: #FFFFFF;
   &:not(:last-child){
     margin-bottom: 5px;
   }
  }
}