$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 992px)";
$minlarge: "(min-width: 1200px)";
$maxMobile: "(max-width: 654px)";


$redcolor: #de473c;
$greancolor: #d1d1d1;

$float-left:left;
$float-right:right;

$text-align-left:left;
$text-align-right:right